apiVersion: 1

contactPoints:
  - orgId: 1
    name: Email Notifications
    receivers:
      - uid: email_receiver
        type: email
        settings:
          addresses: ${ALERT_EMAIL_ADDRESSES}
          singleEmail: true
        disableResolveMessage: false
